@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d7cbbb;
  --foreground: #222221;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222221;
    --foreground: #d7cbbb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  border-color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
